<header>
    <link rel="stylesheet" href="/css/dashboard.css">
</header>
<body>

    <head>
        <h1>Trips Dashboard</h1>
        <form action="/destination/new" method="get">
            <button>Add</button>
        </form>
    </head>
    
    <section class="destination-list">
    
        <% for (let destination of destinations) { %>
        
            <div style="background-image: url('<%=destination.imageurl%>')">

                <a href="/destinations/<%=destination.id%>"><%=destination.name%></a>

            </div>
        
        <% } %>
    
    </section>  
</body>

