<header>
    <link rel="stylesheet" href="/css/dashboard.css">
</header>
<body>

    <!-- Dashboard Heading and Add Trip Button Container -->
    <header class="dashboard-header">
        <h1>Trips Dashboard</h1>

        <form action="/destinations/new" method="get">
            <button>Add Trips</button>
        </form>
    </header>

    <!-- Destinations Grid Container -->
    <section class="destination-list">
        <% for (let destination of destinations) { %>
        <div class="destination-item" style="background-image: url('<%=destination.imageurl%>')">
            <a href="/destinations/<%=destination.id%>"><%=destination.name%></a>
        </div>
        <% } %>
    </section>

</body>

