<header>
    <link rel="stylesheet" href="/css/form.css">
</header>

<body>

    <section class="form_container">
        <h1>New Trip</h1>
        <h3>Plan your vacation now!</h3>
    
        <form action="/destinations" method="post">
            <label for="">Destination:</label>
            <input type="text" name="name">
            <br><br>
            <label for="">Image url:</label>
            <input type="text" name="image">
            <br><br>
            <label for="">Target visit date:</label>
            <input type="date" name="targetDate">
            <br><br>
            <label for="">Duration:</label>
            <input type="number" name="duration">
            <br><br>
            <label for="">Travel partner:</label>
            <select name="partner">
                <option value="Family">Family</option>
                <option value="Solo">Solo</option>
                <option value="Partner">Partner</option>
                <option value="Friends">Friends</option>
                <option value="Others">Others</option>
            </select>
            <br><br>
            <label for="">Budget:</label>
            <input type="number" name="budget">
            <br><br>
            <label for="">Travel hightlights:</label>
            <br><br>
            <textarea name="note" id="" cols="30" rows="8"></textarea>
            <br><br><br>
            <button>Add</button>
        </form>
    </section>

</body>