
<head>
    <!-- link to style sheet -->
</head>
<body>
    <section class="landing">
        <div id="banner">
            <h1>Wish it. Plan it. Journey it.</h1>
            <h2>Together, make every travel dream a reality!</h2>

            <a href="/dashboard" class="button_login">Create my travel List</a>
        </div>

        <div class="images">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg/1200px-La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg" alt="">
            <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/9c/36/5d.jpg" alt="">
            <img src="https://www.racv.com.au/content/dam/racv/images/content-hub/travel/location/international/italy/rome/900x600-GettyImages-1341704677.jpg" alt="">
            <img src="https://www.msccruises.fi/-/media/global-contents/cruise-deals/santorini-summer-cruises.jpg?bc=transparent&as=1&dmc=0&iar=0&mh=600&mw=960&sc=0&thn=0&udi=0&hash=A91325E5A94450F99AB96F3E892FA288" alt="">
        </div>
    </section>   
</body>


