<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>Nav bar</nav>
    <% if (userId) { %>
        <a href="/dashboard">Dashboard</a>
        </p><%= user.email %><p>

        <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>Logout</button>
        </form>

    <% } else { %>
        <form action="/login" method="get">
            <button>Login</button>
        </form>

    <% } %>
    
    <%-body%>

    <footer>footer</footer>

</body>
</html>